.home {
  &__events {
    margin-bottom: 4rem;
    @include respond(phone-2) {
      .splide-carousel__track {
        padding: 10.5rem 0 0 3.5rem !important;
      }
    }
  }

  &__categories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
    justify-content: space-between;
    overflow: hidden;

    .btn {
      justify-self: end;

      @include respond(phone-3) {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
        justify-self: center;
        margin-top: 2rem;
      }
    }
  }

  &__products {
    display: grid;
    grid-template-columns: min-content 1fr;
    overflow: hidden;

    .splide-carousel__track {
      margin-top: 3rem;
    }

    .btn {
      justify-self: end;
      align-self: center;

      @include respond(phone-3) {
        grid-row: 4 / 5;
        grid-column: 1 / -1;
        justify-self: center;
        margin-top: 2rem;
      }
    }

    .sub__title {
      @include respond(phone-3) {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
      }
    }
  }
}
